* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
li {list-style: none;}
/* 기본 세팅 */

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* 메인 비주얼 영역 시작 */
.main_visual {
    max-width: 100%;
    height: 100vh;
    background-color: #003EB9;
    position: relative;
    background-image: url(../img/main_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.main_logo img {
    display: block;
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.main_img {
    width: 1160px;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_img img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
/* 메인 비주얼 영역 끝 */

/* 메인 미들 비주얼 영역 시작 */
.main_middle_visual {
    padding: 110px 0;
    width: 100%;
    background: linear-gradient(to bottom, #003EB9, #000080);
}

.main_title {
    width: 100%;
    text-align: center;
}

.main_title li:nth-of-type(1) {
    padding: 130px 0px 50px 0px;
}

.main_title li:nth-of-type(2) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 30px;
    padding-bottom: 25px;
}

.main_title li:nth-of-type(3) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 25px;
}
/* 메인 미들 비주얼 영역 끝 */

/* 메인 바텀 비주얼 영역 시작 */
.main_bottom_visual {
    height: 100vh;
    position: relative;
    background: url(../img/sonic_bg.png)no-repeat center center;
}

.main_bottom_cloud {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.main_bottom_cloud img {
    width: 100%;
    /* transition: all 1s; */
    animation: cloud 10s infinite linear;
}

@keyframes cloud {
    0%{
        transform: translateX(0);
        
    }

    50%{
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.main_pixel_character{
    position: absolute;
}

.main_pixel_character:nth-of-type(1){
    top: 42%;
    left: 0%;
}

.main_pixel_character:nth-of-type(2){
    top: 2%;
    right: 5%;
}

.gold_ring {
    position: absolute;
    transform: translate(-50%,-50%);
}

.gold_ring:nth-of-type(1) {
    top: 15%;
    left: 25%;
}

.gold_ring:nth-of-type(2) {
    top: 68%;
    right: 2%;
}

.gold_ring li {
    display: inline;
}

.main_crocs {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 48%;
}

.median_line{
    width: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
}

.median_line img {
    width: 100%;
    display: block;
}
/* 메인 바텀 비주얼 영역 끝 */

/* 크록스 아이템 영역 시작 */
.crocs_item {
    width: 100%;
    position: relative;
    background: url(../img/knuckles.png) no-repeat #FFB618;
    background-position: left 40%;
}

.item_title {
    width: 100%;
    text-align: center;
}

.item_title li:nth-of-type(1) {
    padding: 360px 0px 50px 0px;
}

.item_title li:nth-of-type(2) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 30px;
    padding-bottom: 25px;
}

.item_title li:nth-of-type(3) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 25px;
}

.items_container {
    max-width: 1370px;
    margin: 0 auto;
    padding-top: 170px;
}

.items_wrap h2 {
    margin: 0 auto;
    width: max-content;
    color: #fff;
    font-family: 'galmuri11';
    font-size: 50px;
    font-weight: 100;
    background-color: #003EB9;
    border-radius: 50px;
    text-align: center;
    padding: 16px 75px;
}

.items_wrap h2:nth-of-type(2) {
    background-color: #DC0202;
}

.crocs_items {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.crocs_items li {
    box-sizing: border-box;
    width: 25%;
    padding-bottom: 240px;
}

.crocs_items li img{
    display: block;
    width: 100%;
}

.jibbitz_items {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
}

.jibbitz_items li {
    box-sizing: border-box;
    width: 25%;
}

.jibbitz_items li img {
    display: block;
    width: 100%;
}
/* 크록스 아이템 영역 끝 */

/* 이벤트 첫 페이지 영역 시작 */
.event1_wrap {
    width: 100%;
    padding: 279px 0px 225px 0px;
    padding-bottom: 225px;
    background:url(../img/tails.png)no-repeat right center , url(../img/tails_bg.png) no-repeat  center center;
    background-size:auto,cover;
    position: relative;
}

.median_line_bottom {
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.median_line_bottom img {
    width: 100%;
    display: block;
}

.event_container1 {
    max-width: 1370px;
    margin: 0 auto;
    text-align: center;
}

.event_container1 h2 {
    color: #fff;
    font-size: 70px;
    padding-bottom: 35px;
    font-family: 'Comic Kings';
    font-weight: 400;
}

.event_container1 h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'NanumGothic';
    background-color: #DC0202;
    max-width: max-content;
    margin: 0 auto;
    padding: 9px 72px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.event_container1 p {
    color: #fff;
    font-family: 'galmuri11';
}

.event_container1 p:nth-of-type(1) {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 10px;
}

.event_container1 p:nth-of-type(1) span {
    color: #FFB618;
    font-size: 75px;
}

.event_container1 p:nth-of-type(2) {
    font-size: 18px;
    width: 530px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.event_btn {
    padding-top: 49px;
}

.event_btn button {
    color: #fff;
    font-family: 'galmuri11';
    font-weight: bold;
    font-size: 22px;
    border: transparent;
    border-radius: 50px;
    background-color: #FFB618;
    padding: 21px 62px;
    cursor: pointer;
}
/* 이벤트 첫 페이지 영역 끝 */

/* 이벤트 두 번째 페이지 영역 시작 */
.event2_wrap {
    width: 100%;
    padding: 183px 0px 230px 0px;
    background: url(../img/amy.png) no-repeat center left, url(../img/amy_bg.png) no-repeat center center;
    background-size: auto, cover;
    position: relative;
}

.event_container2 {
    max-width: 1370px;
    margin: 0 auto;
    text-align: center;
}

.event_container2 h2 {
    color: #3C345B;
    font-size: 70px;
    padding-bottom: 35px;
    font-family: 'Comic Kings';
    font-weight: 400;
}

.event_container2 h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'NanumGothic';
    background-color: #DC0202;
    max-width: max-content;
    margin: 0 auto;
    padding: 9px 72px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.event_container2 p {
    color: #fff;
    font-family: 'galmuri11';
}

.event_container2 p:nth-of-type(1) {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 10px;
}

.event_container2 p:nth-of-type(1) span {
    color: #DC0202;
    font-size: 75px;
}

.event_container2 p:nth-of-type(2) {
    font-size: 18px;
    width: 589px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.event2_ex_mobile {
    display: none;
}
/* 이벤트 두 번째 페이지 영역 끝 */

/* 이벤트 기간 설명 페이지 영역 시작 */
.event_explanation_wrap {
    width: 100%;
    height: 100vh;
    background: url(../img/Shadow_bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 160px;
}

.explanation_container {
    max-width: 1370px;
    margin: 0 auto;
}

.explanation_container p {
    color: #fff;
    font-size: 30px;
    font-family: 'galmuri11';
    font-weight: bold;
    text-align: left;
    width: 570px;
    margin: 0 auto;
}

.explanation_container p:nth-of-type(1) {
    padding-bottom: 15px;
}

.explanation_container p span {
    background-color: #003EB9;
    padding: 0 25px;
    border-radius: 50px;
    margin-right: 20px;
}

.event_qr {
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.event_qr .goods {
    display: block;
    width: 100%;
}

.event_qr .shadow {
   position: absolute;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
}
/* 이벤트 기간 설명 페이지 영역 끝 */

/* 이벤트 유의 사항 영역 시작 */
.event_note {
    width: 100%;
    background-color: #DC0202;
}

.note_container {
    max-width: 1370px;
    margin: 0 auto;
    color: #fff;
    font-family: 'galmuri11';
    font-size: 24px;
}

.note_container i {
    padding-right: 10px;
}

.note_container li {
    display: flex;
}

.note_container li:nth-of-type(1) i {
    font-size: 41px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.note_container li:nth-of-type(1) {
    font-size: 35px;
    font-weight: bold;
    padding: 65px 0 30px 0;
}

.note_container li p {
    padding-bottom: 20px;
}

.note_container li:nth-of-type(4) {
    width: 1150px;
    padding-bottom: 65px;
}
/* 이벤트 유의 사항 영역 끝 */

/* 푸터 시작 */
footer {
    width: 100%;
    background-color: #003EB9;
}

.footer_wrap {
    padding: 65px 0;
    color: #fff;
    font-family: 'Noto Sans';
    text-align: center;
}
/* 푸터 끝 */

/* 테블릿 미디어쿼리 */
@media screen and (max-width: 768px){

    /* 메인 비주얼 영역 시작 */

    .main_visual {
        height: none;
    }

    .main_logo img {
        width: 100px;
        top: 10%;
        left: 10%;
    }

    .main_img {
        width: 100%;
        top:42%;
        left: 50%;
    }
    /* 메인 비주얼 영역 끝 */

    /* 메인 미들 비주얼 영역 시작 */
    .main_middle_visual {
        padding: 75px 0;
        width: 100%;
    }

    .main_bottom_cloud {
        width: 100%;
    }

    .main_title {
        width: 100%;
    }

    .main_title li:nth-of-type(1) {
        padding: 30px 0px 35px 0px;
    }

    .main_title li:nth-of-type(2) {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .main_title li:nth-of-type(3) {
        font-size: 18px;
    }
    /* 메인 미들 비주얼 영역 끝 */

    /* 메인 바텀 비주얼 영역 시작 */
    .main_bottom_visual{
        width: 100%;
        background: url(../img/sonic_mobile_bg.png) no-repeat center center;
        background-size: cover;
    }
    
    .main_pixel_character {
        display: block;
    }

    .main_pixel_character:nth-of-type(1){
        top: 40%;
    }

    .main_pixel_character:nth-of-type(2){
        right: 0%;
    }

    .gold_ring img {
        width: 20%;
    }

    .gold_ring:nth-of-type(1) {
        top: 15%;
        left: 25%;
    }

    .gold_ring:nth-of-type(2) {
        top: 40%;
        right: -25%;
    }

    .main_crocs {
        top: 60%;
        left: 50%;
    }

    .main_crocs img {
        width: 100%;
        display: block;
    }
    /* 메인 바텀 비주얼 영역 끝 */

    /* 크록스 아이템 영역 시작 */
    .crocs_item {
        width: 100%;
        background-position: left 50%;
        background-size: 350px;
    }

    .item_title li:nth-of-type(1) {
        padding: 150px 0px 35px 0px;
    }

    .item_title {
        width: 100%;
        text-align: center;
    }

    .item_title li:nth-of-type(2) {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .item_title li:nth-of-type(3) {
        font-size: 18px;
    }

    .items_container {
        width: 100%;
        padding-top: 95px;
    }

    .items_wrap h2 {
        width: max-content;
        font-size: 28px;
        padding: 7px 32px;
    }

    .crocs_items {
        padding-top: 50px;
    }

    .crocs_items li {
        box-sizing: border-box;
        width: 25%;
        padding-bottom: 118px;
    }

    .jibbitz_items {
        padding-top: 50px;
        padding-bottom: 118px;
    }
    /* 크록스 아이템 영역 끝 */

    /* 이벤트 첫 페이지 영역 시작 */
    .event1_wrap {
        width: 100%;
        padding: 60px 0;
        padding-bottom: 64px;
        background-size:300px,cover;
    }

    .median_line_bottom {
        width: inherit;
        top: -1px;
        left: 0;
    }

    .median_line_bottom img {
        display: block;
    }

    .event_container1 {
        width: 100%;
    }

    .event_container1 h2 {
        font-size: 35px;
        padding-bottom: 15px;
    }

    .event_container1 h3 {
        font-size: 16px;
        padding: 6px 51px;
        margin-bottom: 10px;
    }

    .event_container1 p:nth-of-type(1) {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .event_container1 p:nth-of-type(1) span {
        font-size: 30px;
    }

    .event_container1 p:nth-of-type(2) {
        font-size: 13px;
        width: 380px;
        padding-bottom: 15px;
    }

    .coupon_box{
        width: 45%;
        margin: 0 auto;
        display: block;
    }

    .event_btn {
        padding-top: 10px;
    }

    .event_btn button {
        font-size: 15px;
        padding: 10px 26px;
    }
    /* 이벤트 첫 페이지 영역 끝 */

    /* 이벤트 두 번째 페이지 영역 시작 */
    .event2_wrap {
        width: 100%;
        padding: 60px 0;
        padding-bottom: 64px;
        background-size:300px,cover;
    }

    .event_container2 {
        width: 100%;
    }

    .event_container2 h2 {
        font-size: 35px;
        padding-bottom: 15px;
    }

    .event_container2 h3 {
        font-size: 16px;
        padding: 6px 51px;
        margin-bottom: 10px;
    }

    .event_container2 p:nth-of-type(1) {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .event_container2 p:nth-of-type(1) span {
        font-size: 30px;
    }

    .event_container2 p:nth-of-type(2) {
        font-size: 13px;
        width: 380px;
        padding-bottom: 15px;
    }

    .event2_ex {
        display: none;
    }

    .event2_ex_mobile {
        margin: 0 auto;
        display: block;
    }
    /* 이벤트 두 번째 페이지 영역 끝 */

    /* 이벤트 기간 설명 페이지 영역 시작 */
    .event_explanation_wrap {
        width: 100%;
        padding-top: 26px;
    }

}

