* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
li {list-style: none;}
/* 기본 세팅 */

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* 메인 비주얼 영역 시작 */
.main_visual {
    max-width: 100%;
    height: 100vh;
    background-color: #003EB9;
    position: relative;
    background-image: url(../img/main_bg.png);
    background-position: center center;
    background-repeat: no-repeat;

    background-size:cover;
}

.main_bg {
    width: 100%;
}

.main_bg img {
    display: block;
    width: 100%;
}

.main_logo img {
    display: block;
    position: absolute;
    top: 8%;
    left: 5%;
}

.main_img {
    width: 1160px;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_img img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
/* 메인 비주얼 영역 끝 */

/* 메인 미들 비주얼 영역 시작 */
.main_middle_visual {
    padding: 110px 0;
    width: 100%;
    background: linear-gradient(to bottom, #003EB9, #000080);
}

.main_title {
    width: 100%;
    text-align: center;
}

.main_title li:nth-of-type(1) {
    font-family: 'badaboom bb';
    font-size: 120px;
    padding: 130px 0px 50px 0px;
}

.main_title li:nth-of-type(2) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 30px;
    padding-bottom: 25px;
}

.main_title li:nth-of-type(3) {
    color: #fff;
    font-family: 'galmuri11';
    font-size: 25px;
}
/* 메인 미들 비주얼 영역 끝 */

/* 메인 바텀 비주얼 영역 시작 */
.main_bottom_visual {
    height: 100vh;
    position: relative;
    background: url(../img/sonic_bg.png)no-repeat center center;
}

.main_bottom_cloud {
    width: 100%;
    margin: 0 auto;
}

.main_bottom_cloud img {
    width: 100%;
}

.main_pixel_character li {
    position: absolute;
    transform: translate(-50%,-50%);
}

.main_pixel_character li:nth-of-type(1){
    top: 53%;
    left: 10%;
}

.main_pixel_character li:nth-of-type(2){
    top: 14%;
    right: 17%;
}

.gold_ring {
    position: absolute;
    transform: translate(-50%,-50%);
}

.gold_ring:nth-of-type(1) {
    top: 15%;
    left: 25%;
}

.gold_ring:nth-of-type(2) {
    top: 68%;
    right: 3%;
}

.gold_ring li {
    display: inline;
}

.main_crocs {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 48%;
}
/* 메인 바텀 비주얼 영역 끝 */